<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
</head>
<body>
    <h1>Pessoas Cadastradas</h1>

    <a href="{% url 'cadastrar_pessoa' %}">Nova Pessoa</a>
 
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Email</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in object_list %}
            <tr>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.idade }}</td>
                <td>{{ pessoa.email }}</td>
                <td>
                    <a href="{% url 'editar_pessoa' pessoa.id %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>